body {
    padding: 0px;
    font-family: "lucida grande", "verdana", "tahoma", "arial";
    font-size: 8pt;
    font-weight: bold;
    background-image:url("bck.jpg");
    background-repeat:no-repeat;
}
p.p1 {
	text-indent: 20px;
}
p.p5 {
	padding: 20px 0px;
}
a:link, a:visited, a:active{
	color: black;
	font-weight:bolder;
}
a:hover {
    color: saddlebrown;
    font-weight:400
}
#container{
    padding-top: 0px;
    background-image:url("bck2.jpg");
    background-repeat:no-repeat;
    left: 149px;
    width: 100%;
    position: absolute;
    text-align: justify;
}
#introduction{
	background-image:url("title2.jpg");
    background-repeat:no-repeat;
    background-position:center top;
	width: 400px;
	text-align: justify;
	padding-top:100px;
}
#supportingText, #participation {
	width: 400px;
	text-align: justify;
}
#pageHeader{
	display: none;
}
#container h3{
	background-image:url("svirgolata.gif");
    background-repeat:no-repeat;
    text-indent: 30px;
}
#container h3 span{
	font-size: 10pt;
}

#linkList{
	position: absolute;
	top: 125px;
	left: 430px;
	text-align: right;
}
#linkList2 li{
	list-style-type: none;
}
#footer {
	text-align: center;
	padding-bottom: 25px;
	word-spacing:10px;
}
